---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
title="Pure Vital Pro"
description="Salud, deporte y nutrición para transformar tu vida."
>
<main style="padding:5rem;text-align:center;">
<h1>Pure Vital Pro</h1>
<p>Bienvenido a nuestra plataforma.</p>

<a href="/retodetox21">Ver Reto Detox 21</a>
</main>
</BaseLayout>